button{
    /* padding:20px 30px; */
    height:50px;
    width:60px;
    background-color: blue;
    color:white;
    cursor: pointer;
  }
  button:hover{
    background-color:lightcoral;
  }
  input{
    width:185px;
    height:50px;
    margin-right:2px;
    margin-left:4px;
    box-sizing: border-box;
  }
  .main-container{
  margin-left:40vw;
  position:absolute
  }
  h1{
    text-align: center;
  }